@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap');

html {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

body {
   margin: 0;
   font-family: 'Fira Sans Condensed', sans-serif;
}

h1, p {
   margin: 0;
   line-height: 1rem
}

rect:hover {
   fill: rgb(54, 162, 250);
   stroke: rgb(54, 162, 250);
   stroke-width: 2px;
}

.tooltip {
   background: rgba(250, 250, 149, 0.719);
   padding: 0.75rem;
   border-radius: 7px;
}

.chart-outer {
   position: relative;
   width: fit-content;
   margin: 0 auto;
}

.chart {
   position: relative;
}

.title-container {
   position: absolute;
   top: 17.5%;
   left: 15%;
}

.title {
   margin-bottom: 0.75rem;
   font-size: 1.85rem;
}

.btclogo {
   position: absolute;
   top: 15%;
   left: 6%;
}